<h1>Collection of Coins</h1>
<h2>Add a Coin</h2>
<div class="coin-list">
  <form class="add" action="/add" method="post">
    <input type="text" placeholder="Name" name="name" value="">
    <input type="text" placeholder="imageUrl" name="imageUrl" value="">
    <input type="text" placeholder="country" name="country" value="">
    <input type="text" placeholder="continent" name="continent" value="">
    <input type="text" placeholder="Year" name="year" value="">
    <input type="submit" name="submit" value="submit">
  </form>
  <h2>Here is the collection:</h2>
  {{#coins}}
    <div class="coin">
      <div class="coin-name-div">
        <a href="coins/{{_id}}">{{name}}</a>
      </div>
      <img src="{{imageUrl}}" alt="coin image">
      <div class="from">
        {{#from}}
          {{country}}, {{continent}}
        {{/from}}
      </div>
      <div class="year">
        {{year}}
      </div>
      <form class="" action="/delete" method="post">
        <button type="submit" name="id" value="{{_id}}">Delete</button>
      </form>
  {{/coins}}
  </div>
